.bpafb-tb-product-stock {
	display: inline-block;
	font-weight: 500;
}

.bpafb-tb-product-stock.bpafb-stock-instock {
	color: #2e7d32;
}

.bpafb-tb-product-stock.bpafb-stock-outofstock {
	color: #c62828;
}

.bpafb-tb-product-stock.bpafb-stock-onbackorder {
	color: #ef6c00;
}
