.bpafb-tb-event-map {
	display: block;
}

.bpafb-tb-event-map-iframe {
	display: block;
	width: 100%;
}

.bpafb-tb-event-map-placeholder,
.bpafb-tb-event-map-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #f0f0f0;
	color: #757575;
	font-size: 13px;
	flex-direction: column;
	gap: 8px;
	text-align: center;
}

.bpafb-tb-event-map-placeholder i {
	font-size: 24px;
}

.bpafb-tb-event-map-link a {
	color: inherit;
	text-decoration: underline;
}
