.bpafb-tb-product-images {
	position: relative;
	margin: 0;
	display: block;
}

.bpafb-tb-product-images img {
	display: block;
	width: 100%;
	height: 100%;
}

.bpafb-tb-product-images-placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 200px;
	background-color: #f0f0f0;
	color: #757575;
	font-size: 13px;
}
