.bpafb-tb-comments-count {
	display: inline-block;
}

.bpafb-tb-comments-count a {
	color: inherit;
	text-decoration: none;
}

.bpafb-tb-comments-count a:hover {
	text-decoration: underline;
}

.bpafb-tb-comments-count a.bpafb-tb-comments-count-nolink {
	cursor: default;
	pointer-events: none;
}
