.bpafb-tb-event-organizer {
	display: inline-flex;
	align-items: center;
	gap: 0.35em;
}

.bpafb-tb-event-organizer i {
	margin-right: 0.1em;
}

.bpafb-tb-event-organizer a {
	color: inherit;
	text-decoration: underline;
}
